.container {
    display: grid;
    grid-template-columns: 30% 30% 40%;

}

#description-detail {
    overflow-wrap: break-word;
}

li {
    color: rgba(236, 234, 229, 0.5);
}

li span {
    color: rgb(236, 234, 229, 1);
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
}