<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('Home')}">
    <title></title>
</head>

<body>
    <main>
        <p>Welcome to Task Management Application </p>

        <p>Last login: <span th:text="${lastLoginDate}"></span></p>

        <div>
            <p><span id="user">
                    <th:block th:text="${username}"></th:block>@<th:block th:text="${role}"></th:block>
                </span> <span id="directory">~/luhtom/task/home</span></p>
        </div>
        <p>> <a th:href="@{/tasks}">List</a></p>
        <p>> <a th:href="@{/tasks/create}">Create</a></p>
        <p>> <a href="javascript: document.logoutForm.submit()" role="menuitem">Logout</a></p>

        <form name="logoutForm" th:action="@{/logout}" method="post" hidden>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input type="submit" value="Sign Out" />
        </form>

    </main>
</body>
<div th:replace="~{fragments/footer :: footer}"></div>

</html>