<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/head :: head('Register')}">
    <title></title>
</head>

<body>
    <link rel="stylesheet" th:href="@{/css/register.css}">

    <main>
        <form th:action="@{/register}" th:object="${user}" method="post">
            <h1>taskManager/register </h1>
            <h3>visitor@local $ <span id="blink"></span></h3>
                <label for="username">Username:</label>
                <input type="text" id="username" th:field="*{username}" />
                <div style="color: red;" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                <label for="password">Password:</label>
                <input type="password" id="password" th:field="*{password}" />
                <div style="color: red;" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            <button type="submit">Register</button>
        </form>
        <p>
            Already have an account? <a th:href="@{/login}">Log in here</a>.
        </p>
    </main>
    <div th:replace="~{fragments/footer :: footer}"></div>

</body>

</html>